<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyBatisサンプル</title>
</head>
<body>
    <h1>コース一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>